<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokémon Comparison</title>
    <style>
        body { font-family: Arial, sans-serif; }
        .pokemon-container { display: flex; justify-content: space-around; margin-top: 20px; margin-right: 650px; margin-left: 650px; }
        .form { display: flex; justify-content: space-around; margin-top: 20px; margin-right: 550px; margin-left: 700px; padding: 100px;}
        .pokemon { text-align: center; }
        .stat-higher { color: green; }
        .stat-lower { color: red; }
        img { width: 150px; height: auto; }
        .total-stats { font-weight: bold; } /* Style for total stats */
    </style>
</head>
<body>
    <h1>Comparison Results</h1>

    <div class="pokemon-container">
        <% let totalStats1 = 0; %>
        <% let totalStats2 = 0; %>
        <% poke1.stats.forEach(stat => totalStats1 += stat.base_stat); %>
        <% poke2.stats.forEach(stat => totalStats2 += stat.base_stat); %>
        
        <div class="pokemon">
            <h2><%= poke1.name.charAt(0).toUpperCase() + poke1.name.slice(1) %></h2>
            <img src="<%= poke1.sprites.front_default %>" alt="Image of <%= poke1.name %>">

            <% poke1.types.forEach(type => { %>
                <h3><%= type.type.name.charAt(0).toUpperCase() + type.type.name.slice(1) %></h3>
            <% }); %>

            <% poke1.stats.forEach((stat, index) => { %>
                <p class="<%= stat.base_stat > poke2.stats[index].base_stat ? 'stat-higher' : 'stat-lower' %>">
                    <%= stat.stat.name %>: <%= stat.base_stat %>
                </p>
            <% }); %>
            <p class="total-stats <%= totalStats1 > totalStats2 ? 'stat-higher' : 'stat-lower' %>">Total Stats: <%= totalStats1 %></p>
        </div>

        <div class="pokemon">
            <h2><%= poke2.name.charAt(0).toUpperCase() + poke2.name.slice(1) %></h2>
            <img src="<%= poke2.sprites.front_default %>" alt="Image of <%= poke2.name %>">
            <% poke2.types.forEach(type => { %>
                <h3><%= type.type.name.charAt(0).toUpperCase() + type.type.name.slice(1) %></h3>
            <% }); %>
            <% poke2.stats.forEach((stat, index) => { %>
                <p class="<%= stat.base_stat > poke1.stats[index].base_stat ? 'stat-higher' : 'stat-lower' %>">
                    <%= stat.stat.name %>: <%= stat.base_stat %>
                </p>
            <% }); %>
            <p class="total-stats <%= totalStats2 > totalStats1 ? 'stat-higher' : 'stat-lower' %>">Total Stats: <%= totalStats2 %></p>
        </div>

    </div>


    <div class="form">
        <form action="/compare" method="POST">
            <input type="text" name="pokemon1" placeholder="Enter Pokémon name" required>
            <input type="text" name="pokemon2" placeholder="Enter Pokémon name" required>
            <button type="submit">Compare</button>
        </form>
    </div>


</body>
</html>




